/**************************** RESET ****************************/
body, div, span, form, h1, h2, h3, h4, h5, h6, p, ul, li, img, header, section, aside, footer, button {
	margin:0; 
	padding:0; 
	border:0;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

html {
	 /* Solve the rerender display issue on guest list search */ 
	-webkit-font-smoothing: antialiased; 
}

body {
	overflow: hidden;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}

#content {
	overflow: auto;
}

a {
	border: 0;
	color: #049BDC;
	text-decoration: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

a img {
	border: 0;
}

label {
	font-weight: bold;
}

ul {
	list-style-type: none;
}

li {
	position: relative;
}

input[type="radio"] {
	margin: 0;
}

input, select, textarea {
	font-family: inherit;	
}


/******************* FONT FACE *******************/
@font-face {
	font-family: 'Bangers';
	src: url('fonts/Bangers.ttf');
}

@font-face {
	font-family: 'Nobile';
	src: url('fonts/nobile.ttf');
}


@font-face {
	font-family: 'Lobster';
	src: url('fonts/Lobster.ttf');
}


/******************* STRUCTURE *******************/
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #2a2a2a;
	background: #f5f5f5;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-family: Lobster, Helvetica, Verdana, sans-serif;	
}

header a {
	display: inline-block;
	color: #FCFCFC;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

/* tab bar */
footer .tab-bar {
	width: 100%;
	height: 42px;
	vertical-align: middle;

	background: #d0d4da;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d4da), to(#afb3bc));
	background-image: -webkit-linear-gradient(top, #d0d4da, #afb3bc);
	background-image: -moz-linear-gradient(top, #d0d4da, #afb3bc);
	background-image: -ms-linear-gradient(top, #d0d4da, #afb3bc);
	background-image: -o-linear-gradient(top, #d0d4da, #afb3bc);
	background-image: linear-gradient(top, #d0d4da, #afb3bc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d0d4da', EndColorStr='#afb3bc');
	
	border-top: 1px solid #848f90;
	box-shadow: rgba(255, 255, 255, 0.945) 0 1px 0px inset;
	
	text-align: center;
}

footer .tab-bar a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #5d6570;
	font-size: 10px;
	font-weight: bold;
	text-shadow: rgba(255,255,255, 0.4) 0 1px 1px;
}

footer .tab-bar ul {
	display: table;
	table-layout:fixed;	
	width: 100%;
	height: 100%;
}

footer .tab-bar li {
	display: table-cell;
	height: 100%;
	padding: 4px;
	border: 1px solid transparents;
}

footer .tab-bar  li.active {
	background-color: #d0d4da;
	box-shadow: rgba(0,0,0,0.35) 1px 1px 3px inset; 
}

footer .tab-bar .label {
	position: absolute;
	bottom: -3px;
	display: block;
	width: 100%;
	text-align: center;
}

/* icons */
footer .tab-bar .item-meetspots {
	background: url(../img/icons/nav/radar.png) center 3px no-repeat;
}

footer .tab-bar .item-checkin {
	background: url(../img/icons/nav/map-marker.png) center 3px no-repeat;
}

footer .tab-bar .item-profile {
	background: url(../img/icons/nav/user.png) center 3px no-repeat;
}


/******************* TITLES *******************/
h1 {
	font-size: 24px;
	color: #FCFCFC;
}

h2 {
	padding: 10px 0 10px 5px;
	font-size: 17px;
	text-align: center;
	color: #fcfcfc;
	font-size: 17px;
	text-shadow: rgba(0, 0, 0, 1) 0 1px 0;
}

h3 {
	margin-bottom: 5px;
	font-size: 17px;
	font-weight: bold;
	color: #d94391;
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

/**************************** INPUTS ****************************/
input[type="text"], input[type="email"], input[type="password"], textarea, select {
	padding: 2px;
	background-color: #FCFCFC;
	border: 1px solid #AAAAAA;

	font-size: 14px;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 3px inset;
}


/******************* LINKS *******************/
a {
	color: #049bdc;
}


/******************* MISCS *******************/
/* selection */
::-moz-selection, ::-webkit-selection, ::selection {
	background-color: #d587fd;
	color: #fcfcfc;
	text-shadow: none;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 12px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
	
::-webkit-scrollbar-thumb {
	background-color: rgba(75, 75, 75, 0.2);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}