#infobulleAction {
	width: 224px;
}

.infobulleTitle {
	 font-size: 16px;
	 font: 900 18px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

.infobulleAdresse {
	font-size: 12px;
}

.phoney {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
	background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
	color: white;

}

.phoneytext {
	text-shadow: 0 -1px 0 #000;
	color: #fff;
	font-family: Helvetica Neue, Helvetica, arial;
	font-size: 18px;
	line-height: 25px;
	padding: 4px 45px 4px 15px;
	font-weight: bold;
	background: url(../img/icons/arrow.png) 95% 50% no-repeat;
	font-size: 12px;
}

.infobulleArrow {
	position: relative;
	float: right;
}