.new-bg {
	width: 320px;
	height: 480px;
	background: #8d1f47;
	background: -moz-linear-gradient(top, #510119 0%, #94234c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#510119), color-stop(100%,#94234c));
	background: #8d1f47 url("../img/bg.png") repeat-x;
}

.new-logo {
	padding: 10px;
}

.new-box {
	width: 275px;
	height: 235px;
	background: #fff;
	border: 10px black solid;
	box-shadow: rgba(0,0,0,0.5) 0 1px 6px;
	margin-left: auto; 
	margin-right: auto;
}

.new-demibox {
	width: 117px;
	padding: 10px;
	float: left;
	margin-left: auto; 
	margin-right: auto;
}

.new-stickman {
	padding: 13px
}

.popup-content {
	width: 275px;
	margin-left: auto; 
	margin-right: auto;
	background: #fff;
}

.popup-box {
	height: 335px;
	background: #fff;
	border: 10px black solid;
	margin: 10px 0;
	box-shadow: rgba(0,0,0,0.5) 0 1px 6px;
}

#overlay-modal {
	text-align:center; /* centrage horizontal */
	margin: 0 auto;
}

.overlay-modal-content {
	border:1px solid purple;
	vertical-align:middle;
	display:inline-block;
	line-height:1.2; /* on rétablit le line-height */
	text-align:left; /* ... et l'alignement du texte */
	border-radius: 4px;
	padding: 10px;
	margin: 20px auto;
	box-shadow: rgba(0,0,0,0.5) 0 1px 6px;
}

.new- 

