<li>

	<a>
	
		<span class="table">
		
			<span class="table-cell v-align-top meetspot-avatar">
			
				<span class="picture-frame-overflow">
					<span class="picture-frame-overflow-inner"></span>
					<img src="./img/icons/default-avatar.png" width="50" height="50" />
				</span>
				
			</span>
			
			<span class="table-cell v-align-top meetspot-details">
				<span class="name">
					{{name}}
				</span>
				<span class="type">
					{{type}}
				</span>
			</span>
		
		</span>
		
	</a>
	
</li>
