<!-- BEGIN - FOOTER -->
<footer>
	<nav class="tab-bar">
		<ul>			
			<li id="meetspots" class="item-meetspots">
				<a href="#meetspots">
					<span class="label">Meetspots</span>
				</a>
			</li>
			
			<li id="checkin" class="item-checkin">
				<a href="#checkin">
					<span class="label">Checkin</span>
				</a>
			</li>
			
			<li id="profile" class="item-profile">
				<a href="#profile">
					<span class="label">Profile</span>
				</a>
			</li>	
		</ul>
	</nav>
</footer>
<!-- END - FOOTER -->