<!-- BEGIN - HEADER -->
<header></header>
<!-- END - HEADER -->

<!-- BEGIN - CONTENT -->
<div id="content"></div>
<!-- END - CONTENT -->

<!-- BEGIN - FOOTER -->
<footer>

	<nav class="tab-bar">
		
		<ul>
			
			<li class="item-meetspots">
				<a href="javascript:void(0);" onclick="TODO NAVIGATION">
					<span class="label">Meetspots</span>
				</a>
			</li>
			
			<li class="item-checkin">
				<a href="javascript:void(0);" onclick="TODO NAVIGATION">
					<span class="label">Checkin</span>
				</a>
			</li>
			
			<li class="item-profile">
				<a href="javascript:void(0);" onclick="TODO NAVIGATION">
					<span class="label">Profile</span>
				</a>
			</li>
			
		</ul>
		
	</nav>

</footer>
<!-- END - FOOTER -->