<!-- BEGIN - HEADER -->
<header></header>
<!-- END - HEADER -->

<!-- BEGIN - CONTENT -->
<div id="content"></div>
<!-- END - CONTENT -->

<!-- BEGIN - FOOTER -->
<footer>
	<nav class="tab-bar">
		<ul>			
			<li class="item-meetspots js-nav js-nav-meetspots">
				<a href="#meetspots">
					<span class="label">Meetspots</span>
				</a>
			</li>
			
			<li class="item-checkin js-nav js-nav-checkin">
				<a href="#checkin">
					<span class="label">Checkin</span>
				</a>
			</li>
			
			<li class="item-profile js-nav js-nav-profile">
				<a href="#profile">
					<span class="label">Profile</span>
				</a>
			</li>	
		</ul>
	</nav>
</footer>
<!-- END - FOOTER -->
