<!-- BEGIN - HEADER -->
<!-- TODO - MADE CLASSE CONDITIONNAL TO PROFILE MAN OR WORMAN -->
<header>

	<span class="table">
	
		<span class="table-cell cell-5 align-left">
			<a href="#map" class="button icon-inside v-align-middle">
				<img src="img/icons/pin.png" width="16" height="16" />
			</a>
		</span>

		<span class="table-cell align-center">
			<img src="img/small-logo.png" width="71" height="35" class="margin-auto" />
		</span>

		<span class="table-cell cell-5 align-right">
			<a href="#meetspotAdd" class="button icon-inside v-align-middle">
				<img src="img/icons/add.png" width="16" height="16" />
			</a>
		</span>
		
	</span>

</header>
<!-- END - HEADER -->