<!-- BEGIN - HEADER -->
<!-- TODO - MADE CLASSE CONDITIONNAL TO PROFILE MAN OR WORMAN -->
<header>

	<span class="table">
	
		<span class="table-cell cell-5 align-left">
			<a href="#meetspotsList" class="button icon-inside v-align-middle">
				<img src="img/icons/list.png" width="16" height="16" />
			</a>		
		</span>

		<span class="table-cell align-center">
			<img src="img/small-logo.png" width="71" height="35" class="margin-auto" />
		</span>

		<span class="table-cell cell-5 align-right">
			<a href="#meetspotsMap/popup/profile" class="button icon-inside">
				<img src="img/icons/profil.png" width="16" height="16" />
			</a>
		</span>
		
	</span>

</header>
<!-- END - HEADER -->