<!-- BEGIN - HEADER -->
<!-- TODO - MADE CLASSE CONDITIONNAL TO PROFILE MAN OR WORMAN -->
<header>

	<span class="table">
	
		<span class="table-cell cell-5 align-left">
			<div class="button">
				<img src="img/icons/view.png" width="17" height="11" />
			</div>		
		</span>

		<span class="table-cell align-center">
			<h1>
				MEET ADVISOR
			</h1>
		</span>

		<span class="table-cell cell-5 align-right">
			<div class="button">
				<img src="img/icons/add.png" width="16" height="16" />
			</div>
		</span>

</header>
<!-- END - HEADER -->